body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
}

/* TOPO */
header {
  background: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* UPLOAD */
.upload {
  background: #222;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

/* CATÁLOGO */
.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.filme {
  width: 160px;
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid transparent;
}

.filme img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.filme p {
  margin: 5px;
}

.filme.ativo {
  border: 3px solid white;
}

/* PLAYER */
.player {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player video {
  width: 90%;
  max-width: 700px;
}

.player-config {
  margin: 10px;
  position: relative;
}

.idioma {
  display: none;
  background: #222;
  padding: 5px;
  border-radius: 5px;
}

/* CONFIG */
.config {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/* BOTÃO APAGAR */

.btn-del{
  width: 90%;
  margin: 5px;
  padding: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.btn-del:hover{
  background: darkred;
}